#Que1{
    color: red;
    font-size: 24px;
    margin-left: 100px;
}


#Que2{
    color: red;
    font-size: 24px;
    margin-left: 100px;
}


#Que3{
    color: red;
    font-size: 24px;
    margin-left: 100px;
}


#Que4{
    color: red;
    font-size: 24px;
    margin-left: 100px;
}

#Que5{
    color: red;
    font-size: 24px;
    margin-left: 100px;
}

#Que6{
    color: red;
    font-size: 24px;
    margin-left: 100px;
}